<h1>Search</h1>
Page: <%= page %>
<% data.map(d=>{ %>
 <p> <%= d.tags  %></p>
 <p> <a href="<%= d.webformatURL %>"><%= d.pageURL %></a></p>
  <a href="<%= d.webformatURL %>"><img style='height: 70px;width:auto' src="<%= d.webformatURL %>" alt=""></a>
 <hr>
<% }) %>
