<% include partials/header %>



<div class="container">
<div class="jumbotron">
  <h3> Image Search Abstraction Layer</h3>
  <p><a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">Free Code Camp</a>
API project <br>
<strong>Created by:</strong> Wali Gauvin
</p>
</div>
  <hr>
  <div>
    <h1>Search Results</h1>
    <p><strong>Search term:</strong> <%= query %></p>
    <hr>
    <p>Page: <%= page %></p>
    <hr>
  </div>
  <% data.map(d=>{ %>
   <p> <strong>Tags: </strong><%= d.tags  %></p>
   <p> <strong>Photo URL:</strong> <a href="<%= d.webformatURL %>"><%= d.pageURL %></a></p>
    <a href="<%= d.webformatURL %>"><img style='height: 70px;width:auto' src="<%= d.webformatURL %>" alt=""></a>
   <hr>
  <% }) %>

</div>
