<% include partials/header %>



<div class="container">
<div class="jumbotron">
  <h3> Image Search Abstraction Layer</h3>

  <p><a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">Free Code Camp</a>
  API project <br>
  <strong>Created by:</strong> Wali Gauvin
  </p>
  <p>Credit to the creators and developers of <a href="https://pixabay.com/api/docs/">Pixabay API</a> </p>
</div>


<p>
  <h4>The href -   <a href="#" ><%= url %></a> - is divided into:</h4>
  <strong>Protocol:</strong> &nbsp; <%= protocol %>  <br>
  <strong>hostname:</strong> &nbsp; <%= port %> <br>
  <strong>Path:</strong> &nbsp; <%= path %> <br>
  <strong>Query:</strong> &nbsp; <%= query %> <br>

</p>
<p>
  <strong>Accessing the Pixabay API from the <em>URL</em>:</strong> <br>
  Change the path from <em><strong>flowers --> cars</strong></em> to access the API for information about cars
</p>
<p>  Change the page from <em><strong> 2 --> 20</strong></em> to access the API for page 20 about cars</p>

<p><strong>10 recent queries -</strong> <a href="https://image-search-fcc-app.herokuapp.com/search/recent">https://image-search-fcc-app.herokuapp.com/search/recent</a>
</p>

  <hr>
  <div>
    <h1>Search Results for <em> <%= search %></em></h1>
    <hr>
    <p>Page: <%= page %></p>
    <hr>
  </div>
  <% data.map(d=>{ %>
   <p> <strong>Tags: </strong><%= d.tags  %></p>
   <p> <strong>Photo URL:</strong> <a href="<%= d.webformatURL %>"><%= d.pageURL %></a></p>
    <a href="<%= d.webformatURL %>"><img style='height: 70px;width:auto' src="<%= d.webformatURL %>" alt=""></a>
   <hr>
  <% }) %>

</div>
