<% include partials/header %>



<div class="container">
<div class="jumbotron">
  <h3> Image Search Abstraction Layer</h3>

  <p><a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">Free Code Camp</a>
  API project <br>
  <strong>Created by:</strong> Wali Gauvin
  </p>
</div>


<p><strong>This will access mLab to retrieve the most 10 recent queries -</strong> <a href="https://image-search-fcc-app.herokuapp.com/search/recent">https://image-search-fcc-app.herokuapp.com/search/recent</a>
</p>

<p>
  The href -   <a href="https://image-search-fcc-app.herokuapp.com/search/flowers?page=2">https://image-search-fcc-app.herokuapp.com/search/flowers?page=2</a> - is divided into: <br>
  <strong>Protocol:</strong> &nbsp; <%= protocol %>  <br>
  <strong>hostname:</strong> &nbsp; <%= port %> <br>
  <strong>Path:</strong> &nbsp; <%= path %> <br>
  <strong>Query:</strong> &nbsp; <%= query %> <br>

</p>

  <hr>
  <div>
    <h1>Search Results</h1>
    <p><strong>Search term:</strong> <%= query %></p>
    <hr>
    <p>Page: <%= page %></p>
    <hr>
  </div>
  <% data.map(d=>{ %>
   <p> <strong>Tags: </strong><%= d.tags  %></p>
   <p> <strong>Photo URL:</strong> <a href="<%= d.webformatURL %>"><%= d.pageURL %></a></p>
    <a href="<%= d.webformatURL %>"><img style='height: 70px;width:auto' src="<%= d.webformatURL %>" alt=""></a>
   <hr>
  <% }) %>

</div>
